﻿@using DecisionPortal.Web.Enums
@using DecisionPortal.Web.Utils
@model DecisionPortal.Web.Models.Criterion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Criterion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="EnumHelper.GetValues<CriterionType>().Select(name => new SelectListItem(name, name))" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptimizationType" class="control-label"></label>
                <select asp-for="OptimizationType" asp-items="EnumHelper.GetValues<CriterionOptimizationType>().Select(name => new SelectListItem(name, name))" class="form-control"></select>
                <span asp-validation-for="OptimizationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnits" class="control-label"></label>
                <input asp-for="MeasurementUnits" class="form-control" />
                <span asp-validation-for="MeasurementUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleType" class="control-label"></label>
                <input asp-for="ScaleType" class="form-control" />
                <span asp-validation-for="ScaleType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
