﻿@using DecisionPortal.Web.Enums
@using DecisionPortal.Web.Models.ViewModels
@model DecisionPortal.Web.Controllers.DecisionsController.DecisionPair

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var alternatives = (IEnumerable<AlternativeMarksViewModel>)ViewData["Alternatives"];
    var firstAlternative = alternatives.First();
    var secondAlternative = alternatives.Last();

    var firstMarks = firstAlternative.Marks.Select(pair => pair.Value.First());
    var secondMarks = secondAlternative.Marks.Select(pair => pair.Value.First());

    var firstTotal = firstMarks
        .Select(mark => mark.Criterion.OptimizationType == CriterionOptimizationType.Max 
            ? mark.NormalizedValue * mark.Criterion.Weight
            : (10 - mark.NormalizedValue) * mark.Criterion.Weight )
        .Sum();
    var secondTotal = secondMarks
        .Select(mark => mark.Criterion.OptimizationType == CriterionOptimizationType.Max 
            ? mark.NormalizedValue * mark.Criterion.Weight
            : (10 - mark.NormalizedValue) * mark.Criterion.Weight )
        .Sum();
}

<h1>Decision</h1>

<h4>Choose between 2 options</h4>
<hr />

<div class="row">
    <div class="col-6">
        <h3>@firstAlternative.Alternative.Name</h3>

        <form asp-action="Create" asp-route-id="@ViewData["PersonId"]">
            <div class="form-group">
                <input asp-for="First" hidden class="form-control" value="@firstAlternative.Alternative.Id" />
            </div>

            <div class="form-group">
                <input asp-for="Second" hidden class="form-control" value="@secondAlternative.Alternative.Id" />
            </div>

            <div class="form-group">
                <input asp-for="Chosen" hidden class="form-control" value="@firstAlternative.Alternative.Id" />
            </div>


            <table class="table table-bordered">
                <tbody>
                    @foreach (var criterion in firstAlternative.Marks)
                    {
                        <tr>
                            <td><strong>@criterion.Key.Name</strong></td>
                            @foreach (var mark in criterion.Value)
                            {
                                @if (mark.Rank < secondMarks.First(m => m.CriterionId == mark.CriterionId).Rank)
                                 {
                                     <td class="bg-success">@mark.Name</td>
                                 }
                                 else if(mark.Rank == secondMarks.First(m => m.CriterionId == mark.CriterionId).Rank)
                                 {
                                     <td class="bg-light">@mark.Name</td>
                                 }
                                 else
                                 {
                                     <td class="bg-danger">@mark.Name</td>
                                 }
                            }
                        </tr>
                    }
                <tr class="bg-light">
                    <td><strong>Total score</strong></td>
                    @if (firstTotal > secondTotal)
                    {
                        <td class="bg-success">@firstTotal</td>
                    }
                    else
                    {
                        <td>@firstTotal</td>
                    }
                </tr>
                </tbody>
            </table>
            <hr />
            <div class="form-group">
                <input type="submit" value="Choose" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-6">
        <h3>@secondAlternative.Alternative.Name</h3>

        <form asp-action="Create" asp-route-id="@ViewData["PersonId"]">
            <div class="form-group">
                <input asp-for="First" hidden class="form-control" value="@firstAlternative.Alternative.Id" />
            </div>

            <div class="form-group">
                <input asp-for="Second" hidden class="form-control" value="@secondAlternative.Alternative.Id" />
            </div>

            <div class="form-group">
                <input asp-for="Chosen" hidden class="form-control" value="@secondAlternative.Alternative.Id" />
            </div>

            <table class="table table-bordered">
                <tbody>
                    @foreach (var criterion in secondAlternative.Marks)
                    {
                    <tr>
                        <td><strong>@criterion.Key.Name</strong></td>
                        @foreach (var mark in criterion.Value)
                        {
                            @if (mark.Rank < firstMarks.First(m => m.CriterionId == mark.CriterionId).Rank)
                            {
                                <td class="bg-success">@mark.Name</td>
                            }
                            else if (mark.Rank == firstMarks.First(m => m.CriterionId == mark.CriterionId).Rank)
                            {
                                <td class="bg-light">@mark.Name</td>
                            }
                            else
                            {
                                <td class="bg-danger">@mark.Name</td>
                            }
                        }
                    </tr>
                    }
                    <tr class="bg-light">
                        <td><strong>Total score</strong></td>
                        @if (firstTotal < secondTotal)
                        {
                            <td class="bg-success">@secondTotal</td>
                        }
                        else
                        {
                            <td>@secondTotal</td>
                        }
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="form-group">
                <input type="submit" value="Choose" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

