﻿@model IEnumerable<DecisionPortal.Web.Models.Decision>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var alternativeBoard = (IEnumerable<(Alternative alternative, int score)>)ViewData["LeadingAlternativeBoard"];
    var alternativeCopland = (IEnumerable<(Alternative alternative, int score)>)ViewData["LeadingAlternativeCopland"];
}

<h3>Leaders</h3>
<p>Leaders (Board rule)</p>
<ul>
    @foreach (var leader in alternativeBoard)
    {
        <li>@leader.alternative.Name (score: @leader.score)</li>
    }
</ul>

<p>Leaders (Copland rule)</p>
<ul>
    @foreach (var leader in alternativeCopland)
    {
        <li>@leader.alternative.Name (score: @leader.score)</li>
    }
</ul>

<h3>People who did not vote yet</h3>
<p>
    <ul>
        @foreach (var person in ((IEnumerable<Person>)ViewData["People"]).Where(person => !Model.Select(decision => decision.PersonId).Contains(person.Id)))
        {
            <li>@person.Name - <a asp-action="Create" asp-all-route-data="new Dictionary<string, string> { { nameof(person.Id), person.Id.ToString() } }">Make a decision</a></li>
        }
    </ul>
</p>

<h3>Decisions</h3>
<table class="table">
    <tbody>
        @foreach (var item in Model.GroupBy(decision => decision.Person).ToList())
        {
            <tr>
                <td colspan="4" class="text-center font-weight-bold">@item.Key.Name</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Rank)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Weight)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Alternative)
                </td>
                <td>
                    <a asp-action="Create" asp-all-route-data="new Dictionary<string, string> { { nameof(item.Key.Id), item.Key.Id.ToString() } }">Change the decision</a>
                </td>
            </tr>
            @foreach (var decision in item.OrderBy(decision => decision.Rank))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => decision.Rank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => decision.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => decision.Alternative.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@decision.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@decision.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@decision.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
