﻿@model DecisionPortal.Web.Models.ViewModels.AddAlternativeMarkViewModel

@{
    ViewData["Title"] = "AddVector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Vector for @Model.Alternative.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVector">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="Alternative.Id" value="@Model.Alternative.Id" hidden/>

            @foreach (var criterion in Model.CriterionMarks)
            {
                
                <div class="form-group">
                    <label asp-for="SelectedMarkIds" class="control-label">@criterion.Criterion.Name</label>
                    <span asp-validation-for="SelectedMarkIds" class="text-danger"></span>
                    <select required asp-for="SelectedMarkIds" class="form-control" asp-items="@criterion.AvailableMarks.Select(mark => new SelectListItem(mark.Name, mark.Id.ToString()))"></select>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
