﻿@model IEnumerable<DecisionPortal.Web.Models.ViewModels.AlternativeMarksViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    @foreach (var alternative in Model)
    {
        <h3>@alternative.Alternative.Name</h3>

        <table class="table table-bordered">
            <tbody>
            @foreach (var criterion in alternative.Marks)
            {
                <tr>
                    <td><strong>@criterion.Key.Name</strong></td>
                    @foreach (var mark in criterion.Value)
                    {
                        <td>@mark.Name</td>
                    }
                </tr>
            }
            </tbody>
        </table>

        <a asp-action="AddVector" asp-route-id="@alternative.Alternative.Id">Change vector</a>
        <hr />
    }
</div>
